<section>
  <form
    [formGroup]="formLogin"
    (ngSubmit)="log()"
  >
    <p>
      @if (email.invalid && email.touched) {
        <small class="alert">
          @if (email.hasError('required')) {
            <p>L'email est requis.</p>
          }
          @if (email.hasError('email')) {
            <p>L'email doit comporter un arobase.</p>
          }
        </small>
      }
      <label for="email">Adresse mail : </label>
      <input id="email" type="email" formControlName="email">
    </p>
    <p>
      @if (password.invalid && password.touched) {
        <small class="alert">
          @if (password.hasError('required')) {
            <p>Le password est requis.</p>
          }
        </small>
      }
      <label for="password">Mot de passe : </label>
      <input id="password" type="password" formControlName="password">
    </p>
    <p>
      <input type="checkbox" id="isRemembered" formControlName="isRemembered">
      <label for="isRemembered">Rester connecté ?</label>
    </p>
    <button [disabled]="!formLogin.valid">Se connecter</button>
  </form>
</section>
