@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Orbitron:wght@400..900&display=swap');

/*reset*/
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: 'Electrolize';
  --title-font: 'Orbitron';
  --bg-color: #192542;
  --primary: #2a9d8f;
  --secondary: #7efaef;
  --accent: #dee4f0;
  --accent-dark: #E42F0F;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font), sans-serif;
  color: var(--accent);
}
